
header
{
	position: fixed;
	top: 0;
	left: 0;
	/* height: 100vh; */
	width: 100%;
	padding: 0 100px;
	/* background-color: transparent !important; */
	background-color: rgba(0, 0, 0, 0.3);
	/* border-bottom: 1px solid #fff; */
	font-size: 1.2em;
	transition: 4s;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
header.sticky
{
	height: 80px;
}

/* header.sticky img.banner
{
	opacity: 0.5;
} */
nav
{
	position: relative;
	display: flex;
}
nav ul
{
	position: relative;
	margin: 0;
	display: flex;
	transition: 0.25s;
	opacity: 0;
	visibility: hidden;
	transform: translateX(100px);
}
header.sticky nav ul
{
	opacity: 1;
	transition: 0.25s;
	transition-delay: 0.20s;
	visibility: visible;
	transform: translateX(0);
}
nav ul li
{
	list-style: none;
}
nav ul li a
{
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	font-size: 1.2em;
	text-decoration: none;
}
nav ul li a:hover
{
	color: #ff275f;
}
/* section
{
	margin-top: 50vh;
	padding: 100px;
	box-sizing: border-box;
} */
section h2
{
	margin: 0;
	padding: 0;
	font-size: 3em;
}
section p
{
	font-size: 1.2em;
}

@media (max-width: 760px)
{
	header
	{
		padding: 0 40px;
	}
	section
	{
		padding: 40px;
	}
	section h2
	{
		font-size: 2em;
	}
	header.sticky .logo
	{
		left: 40px;
	}
	header.sticky img.banner
	{
		opacity: 0;
	}
	nav ul
	{
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	nav.active ul
	{
		position: fixed;
		top: 80px;
		left: 0;
		width: 100%;
		height: calc(100% - 80px);
		/* background: #000; */
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #f244c0;
    	background-image: linear-gradient(0deg, #f244c0 0%, #d16ea8 46%, #fbfbfb 99%);
	}
	nav ul li a
	{
		font-size: 2em;
	}
	header.sticky .toggle
	{
	    position: fixed;
	    top: 15px;
	    right: 40px; 
	    width: 50px;
	    height: 50px;
	    cursor: pointer;
	    background: #f244c0 url(../img/menu.png);
	    background-size: 30px;
	    background-repeat: no-repeat;
	    background-position: center;
	    z-index: 10;
	}
	header.sticky .toggle.active
	{
	    background: #f244c0 url(../img/close.png);
	    background-size: 25px;
	    background-repeat: no-repeat;
	    background-position: center;
	}
}